.ajax-gallery-list {
    list-style-type: none;
    margin: 15px -7.5px 0px -7.5px;
    padding: 0; 
    width: 100%; 
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.ajax-gallery-list li { 
    margin: 0px 0px 15px 0px;
    padding: 0 7.5px;
    float: left;
    position: relative;
}

.ajax-gallery-list li img {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
}

.delete-image-label {
    position: absolute;
    right: 15px;
    bottom: 7.5px;
    background-color: #337ab7;
    color: #fff;
    font-weight: 400;
    margin: 0;
    padding: 5px 30px 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.ajax-gallery-item.checked .delete-image-label {
    background-color: #d9534f;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.delete-image-label input[type="checkbox"] {
    display: none;
}

.delete-image-label .checkmark {
    position: absolute;
    top: 7.5px;
    right: 7.5px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.delete-image-label .checkmark:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    opacity: 0;
}

.delete-image-label input:checked ~ .checkmark {
    background-color: #d9534f;
}

.delete-image-label input:checked ~ .checkmark:after {

    opacity: 1;
}

.delete-image-label .checkmark:after {
    left: 5px;
    top: 0px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ui-state-default {
    border: none;
    background: none;
}



.buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.buttons-wrapper label, .buttons-wrapper button, #gallery-ajax-widget-drop-area .input-file-button {
    color: #fff;
    background-color: #337ab7;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.buttons-wrapper label:hover, .buttons-wrapper button:hover, #gallery-ajax-widget-drop-area .input-file-button:hover, .buttons-wrapper label:focus, .buttons-wrapper button:focus, #gallery-ajax-widget-drop-area .input-file-button:focus {
    background-color: #286090;
}

.buttons-wrapper .red-button {
    background-color: #d9534f;
}
.buttons-wrapper .red-button:hover, .buttons-wrapper .red-button:focus {
    background-color: #BB0000;
    outline: none;
}

.buttons-wrapper .yellow-button {
    background-color: #F0AD4E;
}
.buttons-wrapper .yellow-button:hover, .buttons-wrapper .yellow-button:focus {
    background-color: #ec971f;
    outline: none;
}

#gallery-ajax-widget-drop-area {
    height: 250px;
    margin-top: 15px;
    border: 3px dashed #337ab7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 15px;
}

#gallery-ajax-widget-drop-area input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    border: solid transparent;
    opacity: 0;
    cursor: pointer;
}

#gallery-ajax-widget-drop-area .input-file-button {
    position: relative;
    cursor: pointer;
    padding: 15px 30px;
}
#gallery-ajax-widget-drop-area .input-file-button:hover {
    cursor: pointer;
}


#gallery-ajax-widget-drop-area progress {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
    width: 273px;
    display: block;
    border: 0 none;
    background: #fff;
    border: 2px solid #337ab7;
    border-radius: 3px;
    padding: 3px;
}
#gallery-ajax-widget-drop-area progress::-moz-progress-bar {
    border-radius: 3px;
    background: #337ab7;
  
}
#gallery-ajax-widget-drop-area progress::-webkit-progress-bar {
    background: transparent;
}  
#gallery-ajax-widget-drop-area progress::-webkit-progress-value {  
    border-radius: 3px;
    background: #337ab7;
} 



#gallery-ajax-widget-drop-area.active {
    background-color: rgba(41,144,252,0.5);
    border: 3px dashed transparent;
}

#gallery-ajax-widget-drop-area h4 {
    color: grey;
}